
@font-face {
    font-family: 'Poppins';
    src: url(../Fontes/Poppins-Regular.ttf);
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: #0D0D0F;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 500px;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}

.produtos {
    width: 100%;
    margin-top: -50px;
    height: 600px;
}

.title {
    position: absolute;
    color: white;
    font-family: 'Poppins';
    font-size: 33px;
    margin-top: 175px;
    font-weight: bold;
    margin-left: 150px;
}

.subtitle {
    position: absolute;
    margin-left: 150px;
    color: white;
    font-size: 27px;
    font-family: 'Poppins';
    margin-top: 220px;
    width: 520px;
    font-weight: 100;
    text-align: left;
}

.colunas {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -40px;
}

.coluna1 {
    width:25%;
    position: absolute;
    background-color: black;
    height: 120%;
}

.logo_name {
    height: 55px;
}

.name {
    font-size: 46px;
    color: white;
    margin-left: 10px;
}

.nome {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-left: 40px;
    height: 90px;
    border-bottom: 2.5px solid #4747D9;
    margin-bottom: 20px;
}

.icone {
    width: 60px;
    height: 60px;
}

.categoria {
    padding-left: 25px;
    padding-top: 10px;
    width: 98%;
    height: 90px;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
    border: 3px solid white;
    margin-left: 3px;
}

.category {
    font-family: 'Poppins';
    color: white;
    font-size: 26px;
    margin-left: 14px;
    line-height: 25px;
    height: 60px;
    align-content: center;
}

.coluna2 {
    width: 100%;
    padding-top: 60px;
    padding-left: 440px;
    background-color: white;
    border-top-right-radius: 50px;
    height: 120%;
    
}

.titulo {
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
}

.novidades {
    margin-top: -20px;
    width: 100%;
    height: 535px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.linha {
    display: flex;
    flex-direction: row;
}

a {
    margin-left: 5px;
}

.add {
    width: 75px;
    margin-left: -6px;
    margin-top: -6px;
}

.adicionar {
    width: 62px;
    height: 62px;
    background-color: white;
    border-radius: 110px;
    justify-content: center;
    align-content: center;
    position: absolute;
}

.conteudo {
    border: 2.5px solid black;
    width: 350px;
    height: 520px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 30px;
    margin-right: 20px;
}

.conteudo_b {
    border: 2.5px solid black;
    width: 350px;
    height: 460px;
    margin-left: 15px;
    background-color: transparent;
    border-radius: 30px;
    margin-right: 20px;
}

.nome-prod {
    font-size: 21px;
    color: black;
    width: 300px;
    margin-left: 10px;
    font-weight: bold;
}

.sub-prod {
    font-size: 18px;
    color: #404245;
    width: 300px;
    margin-left: 10px;
    margin-top: -5px;
}

.banner2 {
    margin-top: 7px;
    width: 320px;
    height: 360px;
    margin-left: 13px;
    margin-bottom: 10px;
}

.categorias {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.nomes {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.titulo3 {
    font-size: 40px;
    color: black;
    margin-bottom: 40px;
    margin-right: 600px;
}

.cat {
    justify-content: center;
    text-align: center;
}

.esquerda {
    width: 50px;
    height: 50px;
    background-color: #A2A2EB;
    border: transparent;
    border-radius: 10px;
    font-size: 35px;
    color: white;
    margin-right: 20px;
}

.direita {
    width: 50px;
    height: 50px;
    background-color: #4747D9;
    border: transparent;
    border-radius: 10px;
    font-size: 35px;
    color: white;
    margin-right: 20px;
}

.bt_icon {
    width: 80px;
}

.botao {
    background-color: #D1D1F5;
    width: 130px;
    height: 130px;
    justify-content: center;
    align-content: center;
    border-radius: 100px;
}

.cat-title {
    font-size: 19px;
    margin-top: 5px;
    width: 130px;
    color: black;
    font-weight: 600;
}