
@font-face {
    font-family: 'Poppins';
    src: url(../Fontes/Poppins-Regular.ttf);
}

.fundo {
    width: 100%;
    height: 100%;
    background-color: #0D0D0F;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 500px;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.novidades {
    height: 400px;
}

.caixona {
    width: 60%;
    margin-left: 350px;
}

.titulo1 {
    font-size: 28px;
    color: #6E6EFF;
    margin-bottom: 30px;
    width: 238px;
}

.titulo12 {
    font-size: 28px;
    color: #6E6EFF;
    margin-bottom: 30px;
}

.subtitulo1 {
    margin-top: -10px;
    font-size: 20px;
    color: #6E6EFF;
    opacity: 0.5;
}

.coluna2 {
    width: 50%;
    margin-right: 175px;
}

.banner_pc {
    width: 688px;
    height: 420px;
    margin-bottom: 55px;
    margin-left: 20px;
}

.butão {
    background-color: transparent;
    color: transparent;
    justify-content: center;
    align-content: center;
    margin-left: 530px;
    margin-bottom: 5px
}

.texto {
    color: white;
    font-size: 18px;
}

.titulo2 {
    font-size: 18px;
    color: #6E6EFF;
    margin-bottom: 30px;
    margin-top: 30px;
}

.itens {
    display: flex;
    height: 30px;
    margin-bottom: 20px;
    flex-direction: row;
    line-height: 30px;
    justify-items: center;
}

.icone,
.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.subtexto {
    color: white;
    font-size: 15px;
}

.area {
    width: 100%;
}

.caixa {
    width: 168px;
    height: 42px;
    margin-left: 550px;
    border: 2px solid #D9D9D9 solid #6E6EFF;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.explorar {
    color: #6E6EFF;
    font-size: 20px;
    text-decoration: none;
}

.titulos {
    width: 100%;
    display: flex;
}

.titulo_azul {
    font-size: 28px;
    color: #4500FF;
    margin-left: 175px;
}

.subtitulo_azul {
    color: #4500FF;
    margin-left: 175px;
    opacity: 0.5;
    font-size: 20px;
}

.titulo_aqua {
    font-size: 28px;
    color: #9EFEF9;
    margin-left: 175px;
}

.subtitulo_aqua {
    color: #9EFEF9;
    margin-left: 175px;
    opacity: 0.5;
    font-size: 20px;
}

.titulo_rosa {
    font-size: 28px;
    color: #E400FF;
    margin-left: 175px;
}

.subtitulo_rosa {
    color: #E400FF;
    margin-left: 175px;
    opacity: 0.5;
    font-size: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
}

.modal-header {
    background-color: #6262E1;
    height: 69px;
    align-content: center;
    margin-bottom: 30px;
}

.title {
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    margin-top: 18px;
    margin-left: 50px;
}

.modal-body {
    display: flex;
    flex-direction: row;
}

.coluna1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.imag {
    width: 35px;
    height: 35px;
    background-color: black;
    color: #D9D9D9;
    font-family: 'Poppins';
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    font-weight: 50 ;
    position: absolute;
    margin-left: 400px;
    margin-top: -15px;
}

.imag:hover {
    width: 35px;
    height: 35px;
    background-color: white;
    color: #4500FF;
    font-family: 'Poppins';
    border: 2px solid #4500FF;
    border-radius: 20px;
    font-weight: 50;
}

.arquivo {
    width: 120px;
    height: 35px;
    background-color: #4D4DAC;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    margin-top: 30px;
}

.coluna2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 80px
}

.titulo-post {
    font-family: 'Poppins';
    font-size: 21px;
    color: white;
}

.input-pequeno {
    width: 450px;
    height: 30px;
    background-color: transparent;
    border-style: solid;
    margin: 5px solid #808080;
    border-radius: 20px;
    padding: 15px;
    font-family: 'Poppins';
    color: white
}

.descricao {
    width: 450px;
    height: 171px;
    line-height: 15px;
    background-color: transparent;
    border-style: solid;
    margin: 5px solid #808080;
    border-radius: 20px;
    padding: 15px;
    font-family: 'Poppins';
    color: white
}

.input-pequeno2 {
    width: 400px;
    height: 30px;
    border-style: solid;
    margin: 5px solid #808080;
    background-color: transparent;
    border-radius: 20px;
    padding: 15px;
    font-family: 'Poppins';
    color: white;
    margin-bottom: 20px;
}

.botoes {
    width: 50%;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.enviar {
    width: 100px;
    height: 30px;
    background-color: #4D4DAC;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    border: 2px solid white;
    border-radius: 15px;
}

.enviar:hover {
    background-color: white;
    color: #4D4DAC;
    border: 2px solid #4d4dac;
}

.descartar {
    background-color: transparent;
    width: 100px;
    height: 30px;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    border: 2px solid #6262E1;
    border-radius: 15px;
    margin-left: 10px;
}

input::selection,
input:focus {
    outline: none;
    border-style: solid;
    margin: 5px solid #808080;
    border-radius: 20px;
}

/* The Close Button */
.close,
.close2 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.placeholder {
    width: 415px;
    height: 250px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 100px 50px;
}

.step-dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4747D9;
    flex-shrink: 0;
}

.step-dot {
    cursor: pointer;
}

.step-dot.inactive {
    opacity: 0.3;
}

.linha {
    display: flex;
    flex-grow: 1;
    height: 5px;
    margin: 0 10px;
    border-radius: 2px;
    overflow: hidden;
}

.linha-metade {
    flex: 1;
    height: 100%;
}

.linha-ativa {
    background-color: #4747D9;
}

.linha .desativa {
    background-color: #9999FF;
}